@import "../../global.scss";

.reportCardBody {
  height: 85%;
  width: 13.4vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1c204b;
  @include mobile {
    width: 87.2%;
    margin-bottom: 8%;
    height: 35vw;
    max-height: 200px;
  }

  .cardTop {
    border-radius: 10px;
    height: 68.33%;
    width: 100%;
    background-color: #5747ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include mobile {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 0%;
    }

    .picContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 10%;
      @include mobile {
        padding-top: 0%;
        width: 30%;
        max-width: 100px;
        padding-left: 0%;
        justify-content: flex-start;
        margin-left: 6%;
      }
    }
    .cardPic {
      border-radius: 10px;
      height: 100%;
      width: 54%;
      border-width: 3px;
      border-color: white;
      border-style: solid;
      border-radius: 50%;
      box-shadow: 4px 7px 8px 0px rgba(0, 0, 0, 0.29);
      @include mobile {
        width: 100%;
      }
    }
    .textContainer {
      padding-top: 10%;
      padding-left: 9.5%;
      padding-right: 9.5%;
      font-family: "Rubik", sans-serif;
      color: #bbc0ff;
      display: flex;
      flex-direction: column;
      @include mobile {
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
        align-items: "flex-start";
        width: 100%;
      }
    }
    .txt1 {
      font-size: 15px;
      font-weight: 400;
      @include mobile {
        padding-left: 8%;
      }
    }
    .txt2 {
      padding-top: 9%;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 12px;
      color: white;
      @include mobile {
        letter-spacing: 0px;
        padding-top: 4%;
        padding-left: 8%;
      }
    }
  }
  .cardBottom {
    height: 31.67%;
    width: 100%;
    padding-left: 9.5%;
    padding-right: 9.5%;
    padding-top: 9.5%;
    padding-bottom: 9.5%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    @include mobile {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 0%;
      padding-bottom: 0%;
      align-items: center;
    }
  }
}
