@import "./global.scss";

.app {
  scroll-behavior: smooth;
  height: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0E1323;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}